*{margin: 0; border: 0;}
body {background-color: white; }
nav{ background-color: #D4E6F1  ; padding: 60px; }
li{list-style: none; display: inline-block;}
a{text-decoration: none; color: #ffffff;padding: 30px;}
h1{color: #ffffff; font-size: 60px; text-align-last: center; font-family: 'Satisfy', cursive; }


.banner{
	width: 160px;
	height: 450px;
	border: 3px solid red;
	margin: auto;



  * {
  	margin: 0;
  	padding: 0;
  }

  body {
  	background: #f5f6fa;

  }
  header {
  	width: 100%;
  overflow: hidden;
  background: orange;
  margin-bottom: 20px;
  }


  * {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }

  body {
  	background: #f3f3f3;
  	font-family: 'Open Sans', sans-serif;
  }

  a {
  	text-decoration: none;
  }

  .contenedor {
  	width: 100%;
  	max-width: 10000px;
  	margin: auto;
  }

  header {
  	padding: 40px 0;
  }

  header .logo {
  	text-align: center;
  	margin-bottom: 40px;
  }





  footer .redes-sociales {
  	display: flex;
  	align-content: center;
  	justify-content: center;
  	padding: 20px;
  	flex-wrap: wrap;
  }




  footer .creado-por {
  	margin-bottom: 40px;
  	text-align: center;
  	font-size: 14px;
  	color: #c13584;
  }







  body {
    background: #3b5998;
    width: 100%;
    margin: 0 auto;
  }

  .center {
    display: table;
    width: 100%;
    height: 100vh;
  }

  #social-test {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 60px;
    .social {
      padding-left: 0px;
    }
    li {
      display: inline-block;
    }
    li a {
      color: rgba(256, 256, 256, 0.6);
      border-radius: 6px;
      list-style-type: none;
      display: inline-block;
      width: 100px;
      height: 100px;
      line-height: 100px;
      padding: 15%;
      border: 1px solid rgba(256, 256, 256, 0.6);
      cursor: pointer;
      margin-left: 20px;
      margin-bottom: 50px;
      transition: ease .3s;
      &:hover {
        color: rgba(256, 256, 256, 1);
        border: 1px solid rgba(256, 256, 256, 1);
      }
    }
  }
